:root{
  --secondary-color : #bb86fc;
  --main-color: rgb(209, 205, 205);
  --background: #1d1d1dea;
}

*, *::before, *::after{
  box-sizing: border-box;
  color: var(--main-color);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section--title{
  font-size: 2em;
  border-style: none outset outset none;
  border-color: var(--secondary-color);
  padding: 5px;
}

.container--section__title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 7vh;  
}

.grid--skill{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  border-radius: 10px;
  width: 20vw;
  padding: 20px;
}

@media (max-width: 1250px){
  .grid--skill{
    width: 80vw;
  }
}


