<div class="container--about">
  <div class="container--section__title" id="about">
    <h2 class="section--title">{"< About />"}</h2>
  </div>

  <div class="about--text">
    <p>
      I've always loved puzzles and logic problems, and the satisfaction that
      comes from solving them. In programming I've found a way to take that
      feeling to the next level.
      <br />
      <br />
      I'm a highly motivated web developer passionate about creating attractive and
      high-quality websites. With experience in designing and developing custom websites
      using technologies such as HTML, CSS, JavaScript and React.
      Able to work in a team to ensure the website is optimized for the best user
      experience and conforms to industry standards. I am always learning and keeping
      up-to-date on the latest trends and technologies in web development.
      <br />
      <br />
      Besides programming, I enjoy reading, crafts and videogames.
    </p>
  </div>
</div>

<style>
  .container--about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about--text {
    max-width: 70%;
  }

  .about--text > p {
    font-size: 1.5em;
    padding: 10px;
    letter-spacing: 2px;
  }

  @media(max-width: 768px){
    .about--text > p {
      font-size: 1.1em;
    }
  }
</style>
