<div class="container--about">

  <div class="container--section__title" id="about">
    <h2 class="section--title">{"< About />"}</h2>
  </div>

  <div class="about--text">
    <p>
      I've always loved puzzles and logic problems, and the satisfaction that comes from solving them. In programming I've found a way to take that feeling to the next level.
    <br>
    <br>
      I'm a fullstack developer with inclination towards backend in search of new experiences. I'm always looking for ways to improve, not only my technical skills, but also my soft skills.
    <br>
    <br>
      Besides programming, I enjoy reading, crafts and videogames.
    </p>
  </div>
</div>

<style>
  .container--about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about--text {
    max-width: 70%;
  }

  .about--text > p {
    font-size: 1.5em;
    padding: 10px;
    letter-spacing: 2px;
  }
</style>