---
  import Linkedin from "./svg/Linkedin.astro";
  import Github from "./svg/Github.astro";
  import Email from "./svg/Email.astro";
---

<section class="container--contact" id="contact">
  <div class="container--section__title">
    <h3 class="section--title">{"< Contact />"}</h3>
  </div>

  <div class="container--contact__info">
    <div class="grouping--info">
      <a href="mailto:ricaudjuan11@gmail.com" target="_blank">
        <span class="svg">
          <Email />
        </span>
      </a>
      <h3 class="contact--title">ricaudjuan@hotmail.com</h3>
    </div>

    <div class="grouping--info">
      <a href="https://www.linkedin.com/in/juanricaud/" target="_blank">
        <span class="svg">
          <Linkedin />
        </span>
      </a>
      <h3 class="contact--title">Linkedin</h3>
    </div>

    <div class="grouping--info">
      <a href="https://github.com/jRicaud11" target="_blank">
        <span class="svg">
          <Github />
        </span>
      </a>  
      <h3 class="contact--title">Github</h3>
    </div>

  </div>
</section>

<style>
  .svg{
    transition: fill 0.3s;
  }

  .svg:hover {
    fill: rgb(209, 205, 205);
  }

  .container--contact__info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .grouping--info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .grouping--info > a {
    text-decoration: none;
  }
  .contact--title{
    font-size: 2em;
    font-weight: lighter;
    margin: 20px 0;
  }

  .info{
    font-size: 1.6em;
    letter-spacing: 3px;
  }

  .svg{
    fill: var(--secondary-color);
  }
</style>