<header>
  <nav class="navbar">
    <div class="static--link">
      <!-- <a href="/#">{"</>"}</a> -->
      <li class="link"><a href="/#" class="link--bracket"><span class="bracket">{"< "}</span> / <span class="bracket">{">"}</span></a></li>

    </div>
    <ul class="list--links">
      <li class="link"><a href="/#about" class="link--bracket"><span class="bracket">{"< "}</span>About <span class="bracket">{"/>"}</span></a></li>
      <li class="link"><a href="/#skills" class="link--bracket"><span class="bracket">{"< "}</span>Skills <span class="bracket">{"/>"}</span></a></li>
      <li class="link"><a href="/#projects" class="link--bracket"><span class="bracket">{"< "}</span>Projects <span class="bracket">{"/>"}</span></a></li>
      <li class="link"><a href="/#contact" class="link--bracket"><span class="bracket">{"< "}</span>Contact <span class="bracket">{"/>"}</span></a></li>
      <!-- <li class="link"><a href="/#skills">{"< Skills />"}</a></li> -->
      <!-- <li class="link"><a href="/#projects">{"<Projects />"}</a></li>
      <li class="link"><a href="/#contact">{"<Contact />"}</a></li> -->
    </ul>
   
    <div class="menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

  </nav>
</header>



<style>

  header{
    position: fixed;
    background-color: var(--background);
    width: 100%;
    height: 6vh;
    top: 0;
    z-index: 1;
  }

  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100%;
    margin: 0 5% 0 5%;
    padding: 15px;
    font-size: 20px;
  }

  .list--links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    list-style: none;
  }

  .static--link > a{
    text-decoration: none;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link a{
    text-decoration: none;
    font-size: 1.2em;
    transition: color .3s ease-in-out;
  }

  .link--bracket:hover{
    color: var(--secondary-color);
  }

  .link--bracket:hover .bracket{
    color: #fff;
  }

  .bracket {
    color: var(--secondary-color);
    transition: color .3s ease-in-out;
  }

  .menu{
    display: none;
    cursor: pointer;
  }

  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--main-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  @media(max-width: 768px){
    .menu {
      display: block;
    }

    .menu.active .bar:nth-child(2){
      opacity: 0;
    }
  
    .menu.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
  
    .menu.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .list--links{
      position: fixed;
      left: -100%;
      top: 56px;
      flex-direction: column;
      background-color: var(--background);
      width: 100%;
      text-align: center;
      transition: 0.3s;
      margin-top: 0;
    }

    .list--links.active{
      left: 0;
    }

    .link{
      margin: 16px 0;
    }
  }
</style>

<script>
  const hamburguer = document.querySelector(".menu");
  const list = document.querySelector(".list--links");
  const links = document.querySelectorAll("a")

  hamburguer?.addEventListener("click", () =>{
    hamburguer.classList.toggle("active")
    list?.classList.toggle("active")
  })

  links.forEach(l => 
    l.addEventListener("click", () => {
      hamburguer?.classList.remove("active");
      list?.classList.remove("active");
    })
  )
</script>