---
export interface Props {
  logo: string;
  name: string;
}

const { logo, name } = Astro.props as Props;
---

<div class="container--logo">
  <img class="logo" src={logo} title={name} />
</div>

<style>
  .container--logo {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 20px;
  }

  .name {
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--main-color);
  }

  .logo {
    background: transparent;
    height: 60px;
    width: 60px;
    margin: 20px 30px 40px 30px;
  }

  @media (max-width: 1250px) {
    .container--logo {
      flex-direction: column;
    }
  }

  @media (max-height: 800px) {
    .logo {
      margin: 10px 30px;
    }
  }
</style>
