---
import SkillLogo from "./SkillLogo.astro";
---

<section class="section--skills" id="skills">
  <div class="container--section__title" >
    <h2 class="section--title">{"< Skills />"}</h2>
  </div>

  <div class="skills--container">
    <div class="container--version__control">
      <h2 class="skills--subtitle">Version Control</h2>
      <SkillLogo logo="/images/github.png" name="Github" />
      <SkillLogo logo="/images/Git.png" name="Git" />
    </div>

    <div class="container--database">
      <h2 class="skills--subtitle">Database</h2>
      <SkillLogo logo="/images/postgreSQL.png" name="PostgreSQL" />
      <SkillLogo logo="/images/mongodb.png" name="MongoDB" />
    </div>

    <div class="container--languages">
      <h2 class="skills--subtitle">Languages</h2>
      <SkillLogo logo="/images/javascript.png" name="JavaScript" />
      <SkillLogo logo="/images/html.png" name="HTML" />
      <SkillLogo logo="/images/css.png" name="CSS" />
      <SkillLogo logo="/images/astro.png" name="Astro" />
      <SkillLogo logo="/images/React.png" name="ReactJs" />
      <SkillLogo logo="/images/Redux.png" name="Redux" />
      <SkillLogo logo="/images/NodeJs.png" name="NodeJS" />
      <SkillLogo logo="/images/express.png" name="Express" />
    </div>

    <div class="container--frameworks">
      <h2 class="skills--subtitle">Frameworks</h2>
      <SkillLogo logo="/images/materialui.png" name="Material UI" />
    </div>

    <div class="container--hosting">
      <h2 class="skills--subtitle">Hosting Services</h2>
      <SkillLogo logo="/images/heroku-icon.png" name="Heroku" />
      <SkillLogo logo="/images/vercel.png" name="Vercel" />
    </div>

    <div class="container--tools">
      <h2 class="skills--subtitle">Tools</h2>
      <SkillLogo logo="/images/trello.png" name="Trello" />
      <SkillLogo logo="/images/scrum.png" name="Scrum" />
    </div>
  </div>
</section>

<style>

.container--tools {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 10px;
    width: 20vw;
    padding: 20px;
    grid-column: 1;
    grid-row: 3;
  }
  

  .container--hosting {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 10px;
    width: 20vw;
    padding: 20px;
    grid-column: 2;
    grid-row: 2;
  }

  .container--frameworks {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 10px;
    width: 20vw;
    padding: 20px;
    grid-column: 1;
    grid-row: 2;
  }

  .container--languages {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 10px;
    width: 20vw;
    padding: 20px;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .container--database {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 10px;
    width: 20vw;
    padding: 20px;
    grid-column: 2;
    grid-row: 1;
  }

  .container--version__control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 10px;
    width: 20vw;
    padding: 20px;
    grid-column: 1;
    grid-row: 1;
  }

  .skills--subtitle {
    color: var(--main-color);
  }

  .skills--container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 30vh 30vh 30vh;
    grid-gap: 20px;
  }

  .skills--list {
    display: flex;
    margin-top: 7vh;
    margin-bottom: 7vh;
  }

</style>
